body{
    margin: 0%;
    overflow: hidden;
}

.main-body{
    display: flex;
}

.logo{
    height: 100px;
}

.right1{
    padding-top: 80px;
    padding-left: 50px;
}

.right{
    width: 50%;
    height: 657px;
}

.login{
    width: 188px;
    height: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 15px;
}

.welcome{
    color: #47C2C7;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    height:10px;
    font-size: 15px;
    line-height: 32px;
    padding-top: 0%;
}

input[type=email]{
    margin-top: 100px;
    width: 100%;
    padding: 12px 20px 12px 0;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #00c0f3;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.password{
    margin-top: 10px;
    width: 100%;
    padding: 12px 20px 12px 0;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #00c0f3;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.remember{
    margin-top: 10px;
}

.ForgotPassword{
    color: #5f5f5f;
    text-decoration: none;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    margin-left: 125px;
}

.loginButton{
    margin-top: 10px;
    margin-left: 50px;
    background-color: #47C2C7;
    border: 0px;
    color: aliceblue;
    width: 100px;
    height: 25px;
}